*{
	border-radius: 0% !important;
	font-family: consolas;
}

.jumbotron{
	background-image: url('../../assets/backgrounds/hero.jpg');
}

.left-navigation > a{
	font-weight: thin;
	text-decoration: none;
	margin-left:5%;
}

.yolomy-home{
	margin-right: 25%;
}

.yolomy-products{
	margin-right: 10%;
}

.right-navigation > a{
	text-decoration: none;
}

.tag-line{
	margin: 15% 0% 5% 0%;
}

.tag-line > h1{
	font-size:50px;
	font-weight:lighter;
}

.tag-line > span{
	font-size:20px;
	font-weight: lighter;
}

.scroll-down img{
	margin:5% 0% -3% -3%;
}